
.box {
    width: 280px;
    max-height: 500px;
    border: 1px solid gray;
    float: right;
    margin: 5px;
    padding: 10px;
    color: gray;
    overflow: auto;
    font-size: 14px;
}
h2 {
    color: gray;
}

#value_list {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 34px;
    width: 268px;
    color: gray;
}

label {
    margin-bottom: 5px;
}
label, option {
    color: gray;

}
.header_div {
    margin-bottom: 5px;
}
.header {
    font-size: 24px;
    color: gray;
    font-weight: bold;

}

.list_span {
    /*text-align: center;*/
    /*margin-left: 400px;*/
    margin-top: 20px;
}

.box_wrapper {
    float: left;
    margin-left: 20px;
    height: 600px;
}


.box_container {


    width: 22%;
}

/*.map_container {*/
    /*/!*float: left;*!/*/
    /*/!*width: 80%;*!/*/
    /*/!*height: 500px;*!/*/
    /*width: 500px;*/
    /*height: 500px;*/
/*}*/

.select2-results__options {
    /*height: 400px !important;*/
}

ul.select2-results {
    max-height: 400px;
}

#selecr_attr_label {
    padding-bottom: 5px;
}

#loading-img {
    /*background: url('../images/5.gif') center center no-repeat;*/
    height: 50px;
    width: 50px;
    top: 40%;
    left: 35%;
    position: fixed;
    z-index: 20;
    font-size: 24px;
}

#loading-text {
    height: 100%;
    z-index: 20;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 10000;
}

body{
    font: 14px sans-serif;
    padding: 5px;
    padding-top:0px;
}

#district-list {
    width: 150px;
}

.download_links {
    margin-top: 430px;
}

.btn {
    color: #fff;
    text-shadow: none;
    background-color: #296e9d;
    background-image: -moz-linear-gradient(top, #29769D, #29639d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29769D), to(#29639d));
    background-image: -webkit-linear-gradient(top, #29769D, #29639d);
    background-image: -o-linear-gradient(top, #29769D, #29639d);
    background-image: linear-gradient(to bottom, #29769D, #29639d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF29769D', endColorstr='#FF29639D', GradientType=0);
    border-color: #29639d #29639d #193d60;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #B27328;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #fff, #ebebeb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #fff, #ebebeb);
    background-image: -o-linear-gradient(top, #fff, #ebebeb);
    background-image: linear-gradient(to bottom, #fff, #ebebeb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEBEBEB', GradientType=0);
    border-color: #ebebeb #ebebeb #c4c4c4;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}